openapi: 3.0.1
info:
  contact:
    email: onerecord@iata.org
    name: IATA ONE Record
    url: https://www.iata.org/whatwedo/cargo/e/Pages/one-record.aspx
  description: "ONE Record Server autogenerated Swagger API documentation.  <br> Note!\
    \ By testing this API documentation you agree the data and actions that you submit\
    \ and perform in this sandbox are entirely at your own responsibility. We recommend\
    \ that you do not introduce private, commercial or other sensitive information\
    \ in this sandbox since its exposure cannot be guaranteed. IATA is not liable\
    \ for your actions or data.  POST and PATCH operations are disabled in the Swagger\
    \ documentation. Please download and run the [ONE Record Java sandbox](https://github.com/IATA-Cargo/one-record-server-java)\
    \ locally in order to  test POST and PATCH endpoints. GET endpoints can be tested\
    \ for the https://onerecord.iata.org/companies/iata company. <br>  <br> More information\
    \ about ONE Record specifications on [IATA Github repository](https://github.com/IATA-Cargo/ONE-Record)\
    \ and on the [ONE Record Developer Portal](https://onerecord.iata.org). <br>"
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: ONE Record API Documentation
  version: "1.1"
servers:
- url: //onerecord.iata.org/
tags:
- description: Companies Resource
  name: companies-resource
- description: Delegation Resource
  name: delegation-resource
- description: Logistics Objects Resource
  name: logistics-objects-resource
- description: Notification Resource
  name: notification-resource
- description: One Record Client Resource
  name: one-record-client-resource
- description: Versioning Resource
  name: versioning-resource
paths:
  /client/server-data:
    get:
      deprecated: false
      operationId: getServerDataUsingGET
      responses:
        "200":
          content:
            '*/*':
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves data from another ONE Record Server
      tags:
      - one-record-client-resource
  /companies:
    post:
      deprecated: false
      operationId: addCompanyUsingPOST
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/CompanyInformation'
        description: companyInformation
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: INTERNAL Creates a company
      tags:
      - companies-resource
      x-codegen-request-body-name: companyInformation
  /companies/{companyId}:
    get:
      deprecated: false
      operationId: getCompanyUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: topic
        in: query
        name: topic
        schema:
          enum:
          - WAYBILL
          - SHIPMENT
          - BOOKING
          - ULD
          - ITEM
          - INSURANCE
          - PRODUCT
          - CHARACTERISTICS
          - CARRIER_PRODUCT
          - PIECE
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                type: object
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: "Retrieves a company for a given companyId. If topic is sent, the endpoint\
        \ returns the subscription information for that topic, informationthat is\
        \ usually sent back to publishers. Try: https://onerecord.iata.org/companies/iata"
      tags:
      - companies-resource
  /companies/{companyId}/callback:
    post:
      deprecated: false
      operationId: callbackUrlUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: topic
        in: query
        name: topic
        schema:
          enum:
          - WAYBILL
          - SHIPMENT
          - BOOKING
          - ULD
          - ITEM
          - INSURANCE
          - PRODUCT
          - CHARACTERISTICS
          - CARRIER_PRODUCT
          - PIECE
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Notification'
        description: notification
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Callback URL for receiving notifications from publishers
      tags:
      - notification-resource
      x-codegen-request-body-name: notification
  /companies/{companyId}/delegation:
    post:
      deprecated: false
      operationId: delegateUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/DelegationRequest'
        description: delegationRequest
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Request delegation of access to third party to a logistics object
      tags:
      - delegation-resource
      x-codegen-request-body-name: delegationRequest
  /companies/{companyId}/los:
    post:
      deprecated: false
      operationId: addLogisticsObjectUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/LogisticsObject'
        description: logisticsObject
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Creates a logistics object
      tags:
      - logistics-objects-resource
      x-codegen-request-body-name: logisticsObject
  /companies/{companyId}/los/{loId}:
    get:
      deprecated: false
      operationId: getLogisticsObjectUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/LogisticsObject'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves a logistics object
      tags:
      - logistics-objects-resource
    patch:
      deprecated: false
      operationId: updateLogisticsObjectUsingPATCH
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/PatchRequest'
        description: patchRequest
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      summary: Updates a logistics object - NOT WORKING CORRECTLY YET
      tags:
      - logistics-objects-resource
      x-codegen-request-body-name: patchRequest
  /companies/{companyId}/los/{loId}/acl:
    get:
      deprecated: false
      operationId: getACLUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/AccessControlList'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves the Access Control List of a given logistics object
      tags:
      - logistics-objects-resource
  /companies/{companyId}/los/{loId}/audit-trail:
    get:
      deprecated: false
      operationId: getAuditTrailUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      - description: updatedFrom
        in: query
        name: updatedFrom
        schema:
          format: date
          type: string
      - description: updatedTo
        in: query
        name: updatedTo
        schema:
          format: date
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/AuditTrail'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves the audit trail (history) of a given logistics object
      tags:
      - logistics-objects-resource
  /companies/{companyId}/los/{loId}/events:
    get:
      deprecated: false
      operationId: getEventsUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Event'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves the events of a given logistics object
      tags:
      - logistics-objects-resource
    post:
      deprecated: false
      operationId: addEventsUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Event'
        description: event
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Creates events for a given logistics object
      tags:
      - logistics-objects-resource
      x-codegen-request-body-name: event
  /companies/{companyId}/los/{loId}/mementos:
    post:
      deprecated: false
      operationId: addMementoUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Memento'
        description: memento
        required: true
      responses:
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: INTERNAL Creates a snapshot (memento) of the data
      tags:
      - versioning-resource
      x-codegen-request-body-name: memento
  /companies/{companyId}/los/{loId}/mementos/{mementoId}:
    get:
      deprecated: false
      operationId: getMementoUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      - description: mementoId
        in: path
        name: mementoId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Memento'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves a memento for a given mementoId
      tags:
      - versioning-resource
  /companies/{companyId}/los/{loId}/timegate:
    get:
      deprecated: false
      operationId: getTimegateUsingGET
      parameters:
      - description: Accept-Datetime
        in: header
        name: Accept-Datetime
        required: true
        schema:
          type: string
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves the memento for a logistics object closest to a given date
        time
      tags:
      - versioning-resource
  /companies/{companyId}/los/{loId}/timemap:
    get:
      deprecated: false
      operationId: getTimemapUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      - description: loId
        in: path
        name: loId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Timemap'
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: Retrieves the TimeMap of a given logistics object
      tags:
      - versioning-resource
  /companies/{companyId}/subscribers:
    get:
      deprecated: false
      operationId: getAllSubscribersUsingGET
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      - description: lang
        in: query
        name: lang
        schema:
          type: string
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                items:
                  $ref: '#/components/schemas/Subscription'
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: INTERNAL Get all the subscribers that are subscriber to this company.
      tags:
      - companies-resource
    post:
      deprecated: false
      operationId: addSubscriptionInformationUsingPOST
      parameters:
      - description: companyId
        in: path
        name: companyId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/ld+json:
            schema:
              $ref: '#/components/schemas/Subscription'
        description: subscription
        required: true
      responses:
        "200":
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/Subscription'
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      summary: "INTERNAL In a pub/sub scenario, when the current server is the publisher,\
        \ it creates subscription information for a company."
      tags:
      - companies-resource
      x-codegen-request-body-name: subscription
components:
  schemas:
    Access:
      properties:
        '@type':
          items:
            enum:
            - http://www.w3.org/ns/auth/acl#Access
            type: string
          type: array
        id:
          readOnly: true
          type: string
      title: Access
      type: object
    AccessControlList:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/AccessControlList
            type: string
          type: array
        http://www.w3.org/ns/auth/acl#accessTo:
          type: string
        https://onerecord.iata.org/AccessControlList#authorizations:
          items:
            $ref: '#/components/schemas/Authorization'
          type: array
        id:
          readOnly: true
          type: string
      title: AccessControlList
      type: object
    Address:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Address
            type: string
          type: array
        https://onerecord.iata.org/cargo/Address#addressCode:
          items:
            type: string
          type: array
        https://onerecord.iata.org/cargo/Address#cityCode:
          type: string
        https://onerecord.iata.org/cargo/Address#cityName:
          type: string
        https://onerecord.iata.org/cargo/Address#country:
          $ref: '#/components/schemas/Country'
        https://onerecord.iata.org/cargo/Address#poBox:
          type: string
        https://onerecord.iata.org/cargo/Address#postalCode:
          type: string
        https://onerecord.iata.org/cargo/Address#regionCode:
          type: string
        https://onerecord.iata.org/cargo/Address#regionName:
          type: string
        https://onerecord.iata.org/cargo/Address#street:
          items:
            type: string
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Address
      type: object
    Agent:
      properties:
        '@type':
          items:
            enum:
            - http://xmlns.com/foaf/0.1/Agent
            type: string
          type: array
        id:
          readOnly: true
          type: string
      title: Agent
      type: object
    AuditTrail:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/AuditTrail
            type: string
          type: array
        https://onerecord.iata.org/api/AuditTrail#changeRequests:
          items:
            $ref: '#/components/schemas/ChangeRequest'
          type: array
        https://onerecord.iata.org/api/AuditTrail#errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
        https://onerecord.iata.org/api/AuditTrail#latestRevision:
          format: int32
          type: integer
        https://onerecord.iata.org/api/AuditTrail#loInitialSnapshot:
          $ref: '#/components/schemas/Memento'
        https://onerecord.iata.org/api/AuditTrail#logisticsObjectRef:
          $ref: '#/components/schemas/LogisticsObjectRef'
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: AuditTrail
      type: object
    Authorization:
      properties:
        '@type':
          items:
            enum:
            - http://www.w3.org/ns/auth/acl#Authorization
            type: string
          type: array
        http://www.w3.org/ns/auth/acl#accessTo:
          $ref: '#/components/schemas/Access'
        http://www.w3.org/ns/auth/acl#agent:
          $ref: '#/components/schemas/Agent'
        http://www.w3.org/ns/auth/acl#agentGroup:
          items:
            $ref: '#/components/schemas/Group'
          type: array
        http://www.w3.org/ns/auth/acl#mode:
          items:
            type: string
          type: array
        id:
          readOnly: true
          type: string
      title: Authorization
      type: object
    Branch:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Branch
            type: string
          type: array
        https://onerecord.iata.org/cargo/Branch#branchName:
          type: string
        https://onerecord.iata.org/cargo/Branch#company:
          $ref: '#/components/schemas/Company'
        https://onerecord.iata.org/cargo/Branch#contactPerson:
          items:
            $ref: '#/components/schemas/Person'
          type: array
        https://onerecord.iata.org/cargo/Branch#iataCargoAgentLocationIdentifier:
          format: int32
          type: integer
        https://onerecord.iata.org/cargo/Branch#location:
          $ref: '#/components/schemas/Location'
        https://onerecord.iata.org/cargo/Branch#otherIdentifier:
          items:
            $ref: '#/components/schemas/OtherIdentifier'
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Branch
      type: object
    ChangeRequest:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/ChangeRequest
            type: string
          type: array
        https://onerecord.iata.org/api/ChangeRequest#companyId:
          type: string
        https://onerecord.iata.org/api/ChangeRequest#patchRequest:
          $ref: '#/components/schemas/PatchRequest'
        https://onerecord.iata.org/api/ChangeRequest#requestingParty:
          $ref: '#/components/schemas/Branch'
        https://onerecord.iata.org/api/ChangeRequest#status:
          type: string
        https://onerecord.iata.org/api/ChangeRequest#timestamp:
          format: date-time
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: ChangeRequest
      type: object
    Company:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Company
            type: string
          type: array
        https://onerecord.iata.org/cargo/Company#airlineCode:
          type: string
        https://onerecord.iata.org/cargo/Company#airlinePrefix:
          format: int32
          type: integer
        https://onerecord.iata.org/cargo/Company#branch:
          $ref: '#/components/schemas/Branch'
        https://onerecord.iata.org/cargo/Company#companyName:
          type: string
        https://onerecord.iata.org/cargo/Company#iataCargoAgentCode:
          format: int32
          type: integer
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Company
      type: object
    CompanyInformation:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/CompanyInformation
            type: string
          type: array
        https://onerecord.iata.org/api/CompanyInformation#company:
          $ref: '#/components/schemas/Company'
        https://onerecord.iata.org/api/CompanyInformation#companyId:
          type: string
        https://onerecord.iata.org/api/CompanyInformation#errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
        https://onerecord.iata.org/api/CompanyInformation#serverEndpoint:
          type: string
        https://onerecord.iata.org/api/CompanyInformation#supportedContentTypes:
          items:
            type: string
          type: array
        https://onerecord.iata.org/api/CompanyInformation#supportedLogisticsObjects:
          items:
            type: string
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: CompanyInformation
      type: object
    Contact:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Contact
            type: string
          type: array
        https://onerecord.iata.org/cargo/Contact#emailAddress:
          type: string
        https://onerecord.iata.org/cargo/Contact#other:
          $ref: '#/components/schemas/ContactOther'
        https://onerecord.iata.org/cargo/Contact#phoneNumber:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Contact
      type: object
    ContactOther:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/ContactOther
            type: string
          type: array
        https://onerecord.iata.org/cargo/ContactOther#detail:
          type: string
        https://onerecord.iata.org/cargo/ContactOther#otherType:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: ContactOther
      type: object
    Country:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Country
            type: string
          type: array
        https://onerecord.iata.org/cargo/Country#countryCode:
          type: string
        https://onerecord.iata.org/cargo/Country#countryName:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Country
      type: object
    DelegationRequest:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/DelegationRequest
            type: string
          type: array
        https://onerecord.iata.org/api/DelegationRequest#action:
          type: string
        https://onerecord.iata.org/api/DelegationRequest#operations:
          items:
            type: string
          type: array
        https://onerecord.iata.org/api/DelegationRequest#targetCompanies:
          items:
            type: string
          type: array
        https://onerecord.iata.org/api/DelegationRequest#targetLogisticsObjects:
          items:
            $ref: '#/components/schemas/LogisticsObjectRef'
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: DelegationRequest
      type: object
    Details:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Details
            type: string
          type: array
        https://onerecord.iata.org/api/Details#attribute:
          type: string
        https://onerecord.iata.org/api/Details#code:
          type: string
        https://onerecord.iata.org/api/Details#message:
          type: string
        https://onerecord.iata.org/api/Details#resource:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Details
      type: object
    Error:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Error
            type: string
          type: array
        https://onerecord.iata.org/api/Error#details:
          items:
            $ref: '#/components/schemas/Details'
          type: array
        https://onerecord.iata.org/api/Error#title:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Error
      type: object
    Event:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Event
            type: string
          type: array
        https://onerecord.iata.org/cargo/Event#dateTime:
          format: date-time
          type: string
        https://onerecord.iata.org/cargo/Event#eventCode:
          type: string
        https://onerecord.iata.org/cargo/Event#eventName:
          type: string
        https://onerecord.iata.org/cargo/Event#eventTypeIndicator:
          type: string
        https://onerecord.iata.org/cargo/Event#linkedObject:
          type: string
        https://onerecord.iata.org/cargo/Event#location:
          $ref: '#/components/schemas/Location'
        https://onerecord.iata.org/cargo/Event#performedBy:
          $ref: '#/components/schemas/Company'
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Event
      type: object
    Geolocation:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Geolocation
            type: string
          type: array
        https://onerecord.iata.org/cargo/Geolocation#elevation:
          format: double
          type: number
        https://onerecord.iata.org/cargo/Geolocation#geolocationUnit:
          type: string
        https://onerecord.iata.org/cargo/Geolocation#latitude:
          format: double
          type: number
        https://onerecord.iata.org/cargo/Geolocation#longitude:
          format: double
          type: number
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Geolocation
      type: object
    Group:
      properties:
        '@type':
          items:
            enum:
            - http://www.w3.org/2006/vcard/ns#Group
            type: string
          type: array
        id:
          readOnly: true
          type: string
      title: Group
      type: object
    Location:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Location
            type: string
          type: array
        https://onerecord.iata.org/cargo/Location#address:
          $ref: '#/components/schemas/Address'
        https://onerecord.iata.org/cargo/Location#code:
          type: string
        https://onerecord.iata.org/cargo/Location#geolocation:
          $ref: '#/components/schemas/Geolocation'
        https://onerecord.iata.org/cargo/Location#locationName:
          type: string
        https://onerecord.iata.org/cargo/Location#locationType:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Location
      type: object
    LogisticsObject:
      properties:
        https://onerecord.iata.org/cargo/LogisticsObject#companyIdentifier:
          type: string
        https://onerecord.iata.org/cargo/LogisticsObject#event:
          items:
            $ref: '#/components/schemas/Event'
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: LogisticsObject
      type: object
    LogisticsObjectRef:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/LogisticsObjectRef
            type: string
          type: array
        https://onerecord.iata.org/api/LogisticsObjectRef#logisticsObjectId:
          type: string
        https://onerecord.iata.org/api/LogisticsObjectRef#logisticsObjectType:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: LogisticsObjectRef
      type: object
    Memento:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Memento
            type: string
          type: array
        https://onerecord.iata.org/api/Memento#created:
          format: date-time
          type: string
        https://onerecord.iata.org/api/Memento#createdBy:
          type: string
        https://onerecord.iata.org/api/Memento#data:
          $ref: '#/components/schemas/LogisticsObject'
        https://onerecord.iata.org/api/Memento#label:
          type: string
        https://onerecord.iata.org/api/Memento#original:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Memento
      type: object
    MementoEntry:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/MementoEntry
            type: string
          type: array
        https://onerecord.iata.org/api/MementoEntry#datetime:
          format: date-time
          type: string
        https://onerecord.iata.org/api/MementoEntry#label:
          type: string
        https://onerecord.iata.org/api/MementoEntry#memento:
          $ref: '#/components/schemas/Memento'
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: MementoEntry
      type: object
    MementoList:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/MementoList
            type: string
          type: array
        https://onerecord.iata.org/api/MementoList#mementoEntry:
          items:
            $ref: '#/components/schemas/MementoEntry'
          type: array
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: MementoList
      type: object
    Mementos:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Mementos
            type: string
          type: array
        https://onerecord.iata.org/api/Mementos#firstMemento:
          type: string
        https://onerecord.iata.org/api/Mementos#lastMemento:
          type: string
        https://onerecord.iata.org/api/Mementos#list:
          $ref: '#/components/schemas/MementoList'
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Mementos
      type: object
    Notification:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Notification
            type: string
          type: array
        https://onerecord.iata.org/api/Notification#eventType:
          type: string
        https://onerecord.iata.org/api/Notification#logisticsObject:
          $ref: '#/components/schemas/LogisticsObject'
        https://onerecord.iata.org/api/Notification#topic:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Notification
      type: object
    Operation:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Operation
            type: string
          type: array
        https://onerecord.iata.org/api/Operation#o:
          $ref: '#/components/schemas/OperationObject'
        https://onerecord.iata.org/api/Operation#op:
          type: string
        https://onerecord.iata.org/api/Operation#p:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Operation
      type: object
    OperationObject:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/OperationObject
            type: string
          type: array
        https://onerecord.iata.org/api/OperationObject#datatype:
          type: string
        https://onerecord.iata.org/api/OperationObject#value:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: OperationObject
      type: object
    OtherIdentifier:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/OtherIdentifier
            type: string
          type: array
        https://onerecord.iata.org/cargo/OtherIdentifier#identifier:
          type: string
        https://onerecord.iata.org/cargo/OtherIdentifier#otherIdentifierType:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: OtherIdentifier
      type: object
    PatchRequest:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/PatchRequest
            type: string
          type: array
        https://onerecord.iata.org/api/PatchRequest#description:
          type: string
        https://onerecord.iata.org/api/PatchRequest#logisticsObjectRef:
          $ref: '#/components/schemas/LogisticsObjectRef'
        https://onerecord.iata.org/api/PatchRequest#operations:
          items:
            $ref: '#/components/schemas/Operation'
          type: array
        https://onerecord.iata.org/api/PatchRequest#requestorCompanyIdentifier:
          type: string
        https://onerecord.iata.org/api/PatchRequest#revision:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: PatchRequest
      type: object
    Person:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/cargo/Person
            type: string
          type: array
        https://onerecord.iata.org/cargo/Person#associatedBranch:
          $ref: '#/components/schemas/Branch'
        https://onerecord.iata.org/cargo/Person#contact:
          items:
            $ref: '#/components/schemas/Contact'
          type: array
        https://onerecord.iata.org/cargo/Person#contactType:
          type: string
        https://onerecord.iata.org/cargo/Person#department:
          type: string
        https://onerecord.iata.org/cargo/Person#employeeId:
          type: string
        https://onerecord.iata.org/cargo/Person#firstName:
          type: string
        https://onerecord.iata.org/cargo/Person#jobTitle:
          type: string
        https://onerecord.iata.org/cargo/Person#lastName:
          type: string
        https://onerecord.iata.org/cargo/Person#middleName:
          type: string
        https://onerecord.iata.org/cargo/Person#salutation:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Person
      type: object
    Subscription:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Subscription
            type: string
          type: array
        https://onerecord.iata.org/api/Subscription#cacheFor:
          type: string
        https://onerecord.iata.org/api/Subscription#callbackUrl:
          type: string
        https://onerecord.iata.org/api/Subscription#contentTypes:
          items:
            type: string
          type: array
        https://onerecord.iata.org/api/Subscription#errors:
          items:
            $ref: '#/components/schemas/Error'
          type: array
        https://onerecord.iata.org/api/Subscription#myCompanyIdentifier:
          type: string
        https://onerecord.iata.org/api/Subscription#secret:
          type: string
        https://onerecord.iata.org/api/Subscription#sendLogisticsObjectBody:
          type: boolean
        https://onerecord.iata.org/api/Subscription#subscribeToStatusUpdates:
          type: boolean
        https://onerecord.iata.org/api/Subscription#subscribedTo:
          type: string
        https://onerecord.iata.org/api/Subscription#topic:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Subscription
      type: object
    Timemap:
      properties:
        '@type':
          items:
            enum:
            - https://onerecord.iata.org/api/Timemap
            type: string
          type: array
        https://onerecord.iata.org/api/Timemap#mementos:
          $ref: '#/components/schemas/Mementos'
        https://onerecord.iata.org/api/Timemap#original:
          type: string
        https://onerecord.iata.org/api/Timemap#timegate:
          type: string
        id:
          readOnly: true
          type: string
        language:
          type: string
      title: Timemap
      type: object
x-original-swagger-version: "2.0"
